.container {
    justify-content: space-around;
    padding: 20px 10%;
    background-color: #CDCEF9;
    width: 100%;
    max-width: 100%;
}

.container .row .card {
    width: 200px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid rgb(204, 204, 204);
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px;
  }
  
  .container .row .card:hover {
    box-shadow: 2px 2px 4px  rgb(113, 113, 113);
  }

  .profileTable {
    background-color: white;
    border-radius: 15px;
    flex-grow: 3;
  }

  .top-profile-bar {
    border-bottom: 10px solid #CDCEF9;
    height: 300px;
  }

  .top-profile-bar img {
    width: 15%;
    margin-right: 15%;
  }

  .top-profile-bar h3{
    margin: 15px 0px;
  }

  .top-profile-bar button {
margin-left: 25%;
background-color: #3D0F9E;
color: white;
border: none;
border-radius: 25px;
padding: 15px;
  }

  .sideTables {
    flex-grow: 1;
    width: 25%;
    margin-left: 5%;
  }
  
  .side-table {
    flex-grow: 1;
    background-color: white;
    margin-right: 5%;
    border-radius: 15px;
    width: 100%;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
  }

  
.side-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.side-info:hover{
    box-shadow: 2px 2px 4px  rgb(113, 113, 113);
}

.side-info  img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.review-info img {
  width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.review-info h3{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.bottom-profile-bar .card {
  width: 200px;
  height: fit-content;
  border-radius: 15px;
  border: 1px solid rgb(204, 204, 204);
  padding: 20px;
  background-color: white;
  color: black;
  margin: 10px;
}

.bottom-profile-bar .card:hover {
  box-shadow: 2px 2px 4px  rgb(113, 113, 113);
}
