.banner {
	position: relative;
	height: 90vh;
	color: white;
  }
  
  .img-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
  }
  
  .content {
	position: relative;
  }
  
  .content h1 {
	font-size: 50px;
	font-weight: bold;
  }

  .content h4 {
	font-size: 20px;
	margin-top: 20px;
  }

  .content .order-btn {
	background-color: white;
	height: 100%;
	width: 130px;
    border-radius: 25px;
	text-align: center;
}

.content .order-btn:hover{
	background-color: #3D0F9E;
	color: white;
}